//Variables
$color-principal: rgb(241, 236, 236);
$color-nav: rgba(169, 169, 172, 0.356);
$color-span: #ffffff;
$tamano-span: 30px;
$tamano-span-responsive: 40px;
$radio-bordes-menu: 30px;
$radio-bordes2-menu: 10px;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

.encabezado{
    position: fixed;
    border-top-left-radius: $radio-bordes2-menu;
    border-top-right-radius: $radio-bordes-menu;
    border-bottom-right-radius: $radio-bordes2-menu;
    border-bottom-left-radius: $radio-bordes-menu;

    .logo__div{
    
        span{        
            font-family: 'Ubuntu', sans-serif;
            font-size: $tamano-span;                     
            letter-spacing: 3px;
            display: block;
            text-transform: capitalize;
            color: $color-span;
            text-shadow: 4px 2px 2px rgb(156, 147, 147), 1px 1px 0px rgb(156, 147, 147), 2px 2px 0px rgb(156, 147, 147);
            transition: all 500ms;
                                
        } 
        
        span:hover{
            cursor: pointer;
            text-shadow: 0px 0px 0px rgb(156, 147, 147), -1px -1px 0px rgb(156, 147, 147), -2px -2px 0px rgb(156, 147, 147);
        }
    }

    .menu{
        .lista{
            .item:hover{                
                border-top-left-radius: $radio-bordes-menu;
                border-top-right-radius: $radio-bordes2-menu;
                border-bottom-right-radius: $radio-bordes-menu;
                border-bottom-left-radius: $radio-bordes2-menu; 
            }
        }
    }
}

.info{                                     
    display: flex;        
    justify-content: center;    
    text-align: center;            
}

.row{
    display: flex;
    flex-direction: row;
    .col{               
        width: 100%;
        box-sizing: border-box;
        padding: 60px 30px;  
    }
}

.bienvenida{
    width: 10%;
    height: 90vh; 
    display: table-cell;     
    vertical-align: middle;
    overflow: hidden;
    background-color: #05094673; 
    border-radius: 80px;    
    z-index: 100;
    .info{
        flex-direction: column; 
        h2{
            color: white;
            font-size: 80px;        
        }
        p{
            font-size: 30px;        
        }               
    }

}

.bloqueContenido{
    width: 100%;    
    border-radius: 80px;
    margin-top: 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #05094673; 

    .bienvenida{
        height: 95vh!important; 
    }

    .info{
        flex-direction: row;   
        .input-personal{
            margin-top: 30px;
            p{
                box-sizing: border-box;
                padding: 15px 20px;
                font-size: 15px;                
            }
        }             
    }

    .infoPersonal{
        box-sizing: border-box;
        border-radius: 300px;
        width: 250px;  
        height: 350px;
        overflow: hidden;
        background-color: white;              
        border: 1px dotted black;
        img{
            border-radius: 200px;
            width: 100%;
            
        }
    }
    
    .carousel{        
        height: 40vh;   
        margin-top: -65px;
        box-sizing: border-box;
        padding: 20px 20px;  

        h1{
            color: white;
            font-size: 40px;
            background: none;
        }

        .carousel__contenedor{         
            position: relative;
            margin-top: calc(5% - 10px);

            .carousel__anterior, .carousel__siguiente{
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                border: none;

                top: calc(60% - 35px);

                cursor: pointer;
                line-height: 30px;
                text-align: center;
                background-color: none;
                transition: all .6s;
                opacity: 20%;
            }  

            .carousel__anterior:hover, .carousel__siguiente:hover{
                opacity: 100%;
            }
            
            .carousel__anterior{
                left: -35px;
            }

            .carousel__siguiente{
                right: -35px;
            }

            .carousel__lista{  
                overflow: hidden;                 
                .carousel__elementos{
                    text-align: center;
                    font-size: 18px;  
                    padding: 10px 15px;                  
                }           
                img{
                    width: 100%;                    
                }   
            }                                 
        }
        .carousel__indicadores .glider-dot{
             display: block;
             width: 30px;
             height: 10px;
             background-color: white;
             transition: all .5s;
             opacity: .2;
             border-radius: 0;
        }

        .carousel__indicadores .glider-dot:hover{
            opacity: .5;
            border-radius: 3px;
        }

        .carousel__indicadores .glider-dot.active{
            opacity: 1;
        }
    }    
}

section{     
    width: 95%;
    margin: 0 auto;
    .contenido{
        background-color: #05094688;
        margin-top: 50px;
        p{
            color: white;
        }
    }
    
}

.descripcion{
    .desc{
        border: 1px solid rgb(255, 255, 255);
        border-radius: 30px;
        box-sizing: border-box;
        padding: 30px 20px;
        min-height: 150px;
        max-height: 50vh;
        font-size: 20px;
        overflow: hidden;
        overflow-y: auto;
        text-align: center;
        transition: all .8s;
    }

    .desc:hover{
        background-color: #050946b4;
    }

    .btn-cv{
        margin-top: 20px;
        display: flex;        
        justify-content: center;
        box-sizing: border-box;        
        width: 100%;        

        button{
            padding: 15px 40px;
            border-radius: 15px;
            font-size: 18px;
            color: white;
            border: none;
            transition: all .6s;
            background-color: rgba(52, 47, 122, 0.726);
            text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.493), 1px 1px 0px rgba(0, 0, 0, 0.493), 0px 0px 0px rgba(0, 0, 0, 0.493);
        }

        button:hover{
            font-size: 20px;
            cursor: pointer;
        }
    }

    .cuentas{
        ul{
            list-style: none;
            display: flex;            
            margin-top: 20px;
            justify-content: center;
            width: 100%;            
            li{                                
                box-sizing: border-box;
                padding: 20px 30px;
                transition: all .5s;
                border-radius: 30px;
                a{
                    color: white;
                    font-size: 35px;
                    img{
                        width: 70px;
                    }
                }
            }

            li:hover{    
                border-radius: 40px;            
                background-color: rgba(184, 214, 204, 0.185);
            }
        }
    }
}

@media screen and (max-width:850px){
    .menu{
        border-top-left-radius: $radio-bordes-menu;
        border-top-right-radius: $radio-bordes2-menu;
        border-bottom-right-radius: $radio-bordes-menu;
        border-bottom-left-radius: $radio-bordes2-menu; 
    }
}