@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

.encabezado {
  position: fixed;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
}

.encabezado .logo__div span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  display: block;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 4px 2px 2px #9c9393, 1px 1px 0px #9c9393, 2px 2px 0px #9c9393;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.encabezado .logo__div span:hover {
  cursor: pointer;
  text-shadow: 0px 0px 0px #9c9393, -1px -1px 0px #9c9393, -2px -2px 0px #9c9393;
}

.encabezado .menu .lista .item:hover {
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row .col {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 30px;
}

.bienvenida {
  width: 10%;
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  background-color: #05094673;
  border-radius: 80px;
}

.bienvenida .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bienvenida .info h2 {
  color: white;
  font-size: 80px;
}

.bienvenida .info p {
  font-size: 30px;
}

.bloqueContenido {
  width: 100%;
  border-radius: 80px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #05094673;
}

.bloqueContenido .bienvenida {
  height: 95vh !important;
  overflow: auto;
}

.bloqueContenido .info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bloqueContenido .info .input-personal {
  margin-top: 30px;
}

.bloqueContenido .info .input-personal p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
  font-size: 15px;
}

.bloqueContenido .infoPersonal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 300px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  background-color: white;
  border: 1px dotted black;
}

.bloqueContenido .infoPersonal img {
  border-radius: 200px;
  width: 100%;
}

.bloqueContenido .carousel {
  height: 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px;
}

.bloqueContenido .carousel h1 {
  color: white;
  font-size: 40px;
  background: none;
}

.bloqueContenido .carousel .carousel__contenedor {
  position: relative;
  margin-top: calc(5% - 10px);
}

.bloqueContenido .carousel .carousel__contenedor .carousel__anterior, .bloqueContenido .carousel .carousel__contenedor .carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  top: calc(60% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background-color: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 20%;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__anterior:hover, .bloqueContenido .carousel .carousel__contenedor .carousel__siguiente:hover {
  opacity: 100%;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__anterior {
  left: -35px;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__siguiente {
  right: -35px;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__lista {
  overflow: hidden;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__lista .carousel__elementos {
  text-align: center;
  font-size: 18px;
  padding: 10px 15px;
}

.bloqueContenido .carousel .carousel__contenedor .carousel__lista img {
  width: 100%;
}

.bloqueContenido .carousel .carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 10px;
  background-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: .2;
  border-radius: 0;
}

.bloqueContenido .carousel .carousel__indicadores .glider-dot:hover {
  opacity: .5;
  border-radius: 3px;
}

.bloqueContenido .carousel .carousel__indicadores .glider-dot.active {
  opacity: 1;
}

section {
  width: 95%;
  margin: 0 auto;
}

section .contenido {
  background-color: #05094688;
  margin-top: 50px;
}

section .contenido p {
  color: white;
}

.descripcion .desc {
  border: 1px solid white;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  min-height: 150px;
  max-height: 50vh;
  font-size: 20px;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.descripcion .desc:hover {
  background-color: #050946b4;
}

.descripcion .cuentas ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.descripcion .cuentas ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 30px;
}

.descripcion .cuentas ul li a {
  color: white;
  font-size: 35px;
}

.descripcion .cuentas ul li a img {
  width: 70px;
}

.descripcion .cuentas ul li:hover {
  border-radius: 40px;
  background-color: rgba(184, 214, 204, 0.185);
}

.btn-cv {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.btn-cv button {
  padding: 15px 40px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  border: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  background-color: rgba(52, 47, 122, 0.726);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.493), 1px 1px 0px rgba(0, 0, 0, 0.493), 0px 0px 0px rgba(0, 0, 0, 0.493);
}

.btn-cv button:hover {
  font-size: 20px;
  cursor: pointer;
}

.formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.493), 1px 1px 0px rgba(0, 0, 0, 0.493), 0px 0px 0px rgba(0, 0, 0, 0.493);
}

.formulario form input, .formulario form textarea {
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}

@media screen and (max-width: 260px) {
  .bienvenida .info h2 {
    font-size: 40px !important;
  }
  .bienvenida .info p {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 200px) {
  .bienvenida .info h2 {
    font-size: 30px !important;
  }
  .bienvenida .info p {
    font-size: 15px !important;
  }
}

.bloqueGraficos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.bloqueGraficos h1 {
  background: none;
  font-size: 40px;
  color: white;
}

.bloqueGraficos canvas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgba(14, 24, 43, 0.534);
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
}

@media screen and (max-width: 380px) {
  .bienvenida .info h2 {
    font-size: 60px;
  }
  .bienvenida .info p {
    font-size: 35px;
  }
}

@media screen and (max-width: 2600px) {
  .bloqueGraficos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .bloqueGraficos canvas {
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .bloqueGraficos {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .bloqueGraficos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .bloqueGraficos canvas {
    padding: 0px 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 50%;
  }
}

@media screen and (max-width: 1500px) {
  .bloqueGraficos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .bloqueGraficos canvas {
    padding: 0px 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 80%;
  }
}

@media screen and (max-width: 655px) {
  .contenido_responsive {
    display: block;
  }
  .descripcion {
    width: 100% !important;
  }
  section {
    width: 150%;
  }
}

@media screen and (max-width: 850px) {
  .menu {
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */